@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --nav-color: #000040;
  	--bg-color: #202084;
}

body {
  	font-family: 'Poppins', sans-serif;
}