@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --dark-blue: #000040;
  	--mid-blue: #202084;
}

body {
  	font-family: 'Poppins', sans-serif;
}