@import url('reset.css');
@import url('global.css');
@import url('components/navbar.css');

body {
    background-color: var(--mid-blue);
}

.container {
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
} 

.container::before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--mid-blue);
    opacity: .3;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 22%;  
    font-family: "Noto Sans", sans-serif;
}

.hero__headline {
    font-family: inherit;
    font-size: clamp(2rem, 2.8vw, 4rem);
    font-style: italic;
    font-weight: 200;
}

.hero__button {
    display: grid; 
    place-items: center;
    height: 32%;
    width: 32%;
    font-size: clamp(1rem, 1.2vw, 1.8rem);
    border: .1rem solid white;
    border-radius: .5vw;
    background-color: rgba(0, 0, 150, .3);
    transition: 0.4s ease-in-out;
}

.hero__button:hover {
    transform: scale(1.1);
    background-color: transparent;
}