@import url('reset.css');
@import url('global.css');

body {
    background-color: var(--bg-color);
}

.menu {
    background-color: var(--nav-color);
    padding: 1.2rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.menu__item {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}