.gallery {
    padding: 7vh;
    padding-left: 0;
}

.gallery__list {
    display: flex;
    flex-direction: row;
}

.gallery__list-item {
    margin-left: 25px;
    height: 24vh;
    aspect-ratio: 16/9;
}

.gallery__list-item:first-child {
    margin-left: 0px;
}

.gallery__list-image {
    border: solid .2rem white;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}